:root {
  font-family: "DM Sans", sans-serif;
  color: #17221c;
  background: #f4f2eb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  min-width: 320px;
}
h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
